<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
  
  <h3>Create a New Listing</h3>
  <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="enter catchy title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Titles look good</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        id=""
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">please enter short description</div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label"> Upload Listing Image </label>
      <input
        type="file"
        name="listing[image]"
        class="form-control"
        required
      />
    </div>
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          placeholder="1200"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter valid price</div>
      </div>

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="india"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter the country name</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="listing[location]"
        placeholder="Bhopal"
        class="form-control"
        required
      />
      <div class="invalid-feedback">location should be valid</div>
    </div>

    <button class="btn btn-dark add-btn">add</button>
  </form>
</div>
</div>
